@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0px;
    margin: 0px;
    color: black;
    
}
body{
    background-image: url('./multi\ back.jpg');
}
.navbar{
    padding-top: 20px;
    margin-top:8px;
    height: 60px;
    background:transparent;
    display: flex;
    padding-top: 5px;
    font-size: 18px;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
.logo{
    margin-right: 800px;
    font-family:'Ubuntu',sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.contents{
    display: flex;
}
.c{
    margin-right:30px;
}
.navbar a{
    text-decoration: none;
    font-weight: 500;
}
.home{
    display: flex;
    background-size: cover;
    align-items: center;
    padding:0 10%;
    height:100vh;
}
.write {
    max-width: 500px;
    margin-left: 200px;
}
.write h1{
    font-size: 50px;
}
.write h3{
    font-size: 30px;
}
.dp{
    height:100vh;
    width:500px
}
.dp img{
    display: block;
    height: 300px;
    width: 300px;
    margin-right: 500px;
    margin-bottom: 100px;
    margin-top: 175px;
    margin-right: 150px;
    float: left;
    align-items: center;
    position: absolute;
    right: 0%;
    border-radius: 50%;
    border: 4px solid white;

}
.atitle {
    text-align: center;
    font-size: 25px;
    
}

.about{
    align-items: center;
}
.aboutinfo{
    max-width: 500px;
    text-align: center;
    margin:50px 400px 50px 425px;
    font-size: 22px;
    font-weight: 500;
}
.skills{
    align-items: center;
}
.skills img{
    
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    mix-blend-mode:darken;
}
.stitle{
    text-align: center;
    font-size: 25px;
}

.ptitle{
    text-align: center;
    font-size: 25px;
    color: #008170;
}
.projects h3,.projects div,.projects p{
    background-color: transparent;
    color: black;
}

.projects h3{
    color: black;
    margin-bottom: 5px;
    font-size: 21px;
}
.myprojects{
    padding: 10px;
    border-radius: 10px;
}
.project1{
    display: flex;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.project2{
    display: flex;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

.project_img img{
    height: 200px;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
}

.projects p{
    text-align: justify;
}
.contact{
    align-items: center;
}

.ctitle{
    text-align:left;
    font-size: 22px;
}
.contact a{
    font-size: 22px;
    margin-bottom: 500px;
    margin-left: 5px;
    text-decoration: none;
}
.contact a:hover{
    color: #00abf0;
}
.social h3{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
    margin-left: 5px;
}
hr{
    background-color: black;
    height: 2px;
}